body {
  background-color: #0d1117;
  padding: 20px;
}
header{
  display: flex;
  width:100% ;
  background-color: #58a6ff;
  background-size: cover;
}
h1 {
  color: #c9d1d9;
  background-color: black;
  padding: 20px;
   text-decoration: underline;
  justify-content: center;
}
body p {
  color: #58a6ff;
  font-size: 18px;
  line-height: 2.0;
  justify-content: left;
}

.edwin
{
display: flex;
 color: cyan;
 border-style: dashed;
 border-radius: 50px;
 /* padding-left: 20%; */
 justify-content: center;
}
